<div class="innerArea">
<div class="template" id="list-item-0">
    <div class="d-flex justify-content-center align-items-center flex-column w-100 h-100 text-center">
        <div class="box">
            <h1 id="heading" contenteditable="true" class="mb-5 biggerFont" objectname="heading">Enter Your Heading<br>here</h1>
            <a href="javascript:void(0)" id="cta" contenteditable="true" class="btn-quiz btn theme-btn" objectname="btn">Enter Cta</a>
        </div>
    </div>
</div>
</div>