.theme1 .template{
    height: 100vh;
    margin-bottom: 0;
}
.theme1 .innerWrap{
    background-color: aliceblue;
    width: 50vw;
    min-height: 237px;
    padding: 30px;
    border-radius: 5px;

}
.theme1 .cWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.theme1 .nxt {
    margin-top: 15px;
    text-align:right;
}
#started{
    display: none;
}
 
.quizForm,.quizForm form,.theme1 #carouselExampleControls,.theme1 .carousel-inner,.theme1 .carousel-item{    
    width: 100%;
    height: 100%;
}
