
*,body,html{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.home{
    padding-top: 84px;
}
.logo img{
    height: 45px;
}
.anchor{
    cursor: pointer;
}
.biggerFont{
    font-size: 4rem;
}
.no-display{display: none;}
.quiz-box{
    flex-basis: 80%;
}
.quiz-box>h1{
    width: 100%;
}
#first .card ,.inher{
    width: 250px;
    height: 250px;
}
.layout{
    cursor: pointer;
 
}
.edit-btn{
    right: -10%;
    top: 5%;
    transform: rotate(90deg);
}
.nxt-btn{
    bottom: 5%;
    right: -10%;
    transform: rotate(90deg);
}
.btn-quiz{
    width: 150px; 
    background-color: #f3e1e1;
    line-height: 30px;
    display: inline-block;
    color: black;
}
.carousel-control-prev{
    left: -138px;
}
.carousel-control-next{
    right: -138px;
}
.dropdown-menu{
    right: 0;
    left: auto;
}
aside{
    height: calc(100% - 88px);
    overflow: auto;
   display: inline-block;
   vertical-align: top;
   width:254px;
   background-color: aliceblue;
}
main{
    padding-top: 75px;
}
.rightSide{
    height: 100vh;
    overflow: auto;
    margin-left: 264px;
    width: 80%;
    padding: 15px;
    
}
.template{
    background-image: url(../images/White_Bear_on_Snow_Image_Show_Global_Warming.jpg);
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.template .card-title{
    margin: 1.25rem 1.25rem 0 1.25rem;
}
.cardHead{
    background-color: #e6d6d6;
    padding: 15px;
}
.cardData .form-check{
    margin-bottom: 25px;
}
.cardData .close{
    font-size: 13px;
    position: absolute;
    right: -9px;
    font-weight: 400;
    top: -14px;
}
.img figure{
    position: relative;
}
.cardData > div {
    flex-basis: 50%;
}
#publishModal .form-control{
    display: inline-block;
    width: 80%;
}

.cardData {
    display: flex;
    flex-wrap: wrap;
}
.cardData .form-check:nth-child(1) .delete,.cardData .form-check:nth-child(2) .delete{
    display:none;
}
.cardData .form-check:last-child .delete {
    font-size: 15px;
}
.form-check-label span{
    display:inline-block;
    vertical-align: top;
}
.area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .img{
    width: 93px;
    height: 61px;
      display: none;
  }
  .textBox{
      display: inline-block;
      vertical-align: middle;
  }
  .img figue,.img img{
        height: 53px;
  }
  .file{
    width: 18px;
    height: 15px;
    overflow: hidden;
    display: inline-block;
  }
  .file i{
      top: 0;
      left: 0
  }
  .file input{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


.main-page .top-up{
    margin-top: -35px;
}
.main-page .banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:#00e3ff;
    width: 100%;
    min-height: 250px;
    padding-top: 72px;
    padding-bottom: 35px;
}
.btn-main{
    width: 180px;
    padding: 5px 0;
}

.btn-main span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-main span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-main:hover span {
    padding-right: 25px;
  }
  
  .btn-main:hover span:after {
    opacity: 1;
    right: 0;
  }
.bg-orange{
    background-color: #f7941d;
}
.bg-footer{
    background-color: #ededed;
}
.text-orange{
    color: #f7941d!important;
}
.card-icons{
    width: 81px;
    height: 81px;
    display: inline-block;
}
.features{
    padding: 100px 0;
}
.info{
    padding: 72px 0;
}

.box:hover .overlay-box{
    opacity: 0.6;
    transition: all 0.5s ease;
}
.overlay-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: wheat;
    top: 0;
    left: 0;
    opacity: 0;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.7);
    display:none;
}
@media only screen and (max-width: 768px)  {
    .features{
        padding: 20px 0;
    }
    .top-up{
        margin-top: -20px;
    }
}
@media only screen and (max-width: 576px)  {
    .logo img{
        width: 190px;
    }
    .features .card{
        margin-bottom: 20px!important;
    }
}
