<div class = "innerArea" onkeyup="updateJSON(event.srcElement,'template1')">
<div class="template1" id="list-item-0" >
    <h1 contenteditable="true" objectname="heading" class="text-white" id="heading">Let's start</h1>
    <p class="sub-heading text-white" contentEditable="true" objectname="subHeading">Enter Your User nmae <br/>
    to start the quiz</p>
    <form action="" class="text-white">
            <div class="form-group">
                    <label for="email_id">Email address:</label>
                    <input type="email" id="email_id" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="first_name">UserName:</label>
                <input type="text" id="first_name" class="form-control" id="name">
            </div>
            <button type="button" id="userData" class="btn btn-primary">Submit</button>
    </form>
</div>


</div>
