@charset "utf-8";
/* CSS Document */
 .theme2 .template1{
    background: url(/images/bg.jpg) no-repeat;
    background-size: cover;
   min-height: 100vh;
    padding: 40px;
    margin-bottom: 25px;
    position: relative;
 }
 .theme2 .template1 h1{
    margin-bottom: 15px;
 }
 .theme2 .form-check-label.qw{
     position: absolute;
     width: 23px;
     height: 23px;
     top: 0;
     left: 0;
 }
 .theme2 .btn a {
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    margin: 0px 15px;
    display: inline-block;
    text-transform: uppercase;
    background: none;
    border: solid 1px #CCCCCC;
    color: #fff;
    font-weight: bold;
}

.theme2 .btn a.secondary{  background:#f7941d; color:#fff; border:none;}
.theme2 .template1 form{width: 30%;margin-top: 75px;}
.theme2 .btn {
    width: 100%;
}
.theme2 .form-check-label{
    margin: 0;
}
.theme2 input[type="radio"] + .form-check-label:before {
    height: 25px;
    content: url(/images/radio.png);
    position: absolute;
    width: 23px;
}  
.theme2 input[type="checkbox"] + .form-check-label:before {
    height: 25px;
    content: url(/images/checkbox.png);
    position: absolute;
    width: 23px;
}  
.theme2 input[type="radio"]:checked + .form-check-label:before {
    content: url(/images/radioTick.png);
}
.theme2 input[type="checkbox"] .form-check-label:before {
    height: 25px;
    content: url(/images/checkbox.png);
    position: absolute;
    width: 23px;
}  
.theme2 input[type="checkbox"]:checked + .form-check-label:before {
    content: url(/images/tick.png);
}
.theme2 .textBox{
    margin-left: 35px;
}
.theme2 a.delete {
    position: absolute;
    top: -20px;
   font-size: 0;
   color: #fff;
}
.template-body label.form-check-label ~ a{
    font-size: 18px;
}

.template-body {
    padding: 30px;
    min-height: 412px;
}
.txt{
    height: 45px!important;
    width: 0!important;
}
.template-body label {
    color: #fff;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding-right: 10px;
    position: relative;
}
.template-body .form-check{
    margin-bottom: 15px;
}
/* .template-body label.form-check-label    {
    border: 1px solid;
} */
.theme2 .form-check-input{
    z-index: 999;
    opacity: 0;
    height: 25px;
    width: 23px;
    display: inline-block;
    /* top: -3px; */
    /* left: -3px; */
    cursor: pointer;
    margin: 0;
}
.theme2 span.file.position-relative {
    background-image: url(/images/placeholder-image.jpg);
    height: 76px;
    width: 113px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.theme2 .file i{
    display: none;
}
.theme2 .selectBox{
    position: absolute;
    right: 0;
    top: 0;
}
.theme2 .img{
    margin-left: 35px;
}
.closeParent {
    position: absolute;
    color: white;
    right: -13px;
    top: -17px;
}
.closeParent .close{
    color: white;
    font-weight: 400;
    font-size: 15px;
}
.theme2 .score{
    width: 50%;
    text-align: center;
}
.theme2 .score p{
   font-size: 18px;
   letter-spacing: 1px;
}
.theme2 .social-icons ul li{
  list-style: none;
  display: inline-block;
  margin-right: 17px;
 }
 