<h1>Sharing Links</h1>

<p><a href="https://twitter.com/intent/tweet?text=mindymcadams.com" target="_blank">Share on Twitter</a> | <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmindymcadams.com%2F&amp;src=sdkpreparse" target="_blank">Share on Facebook</a></p>

<h2>Details</h2>

<p>
  <a href="C:\Users\sarkaur2\Documents\project\mvc-project\index.html" target="_blank">Facebook share link details</a>
</p>

<p>
  <a href="https://dev.twitter.com/web/tweet-button" target="_blank">Twitter share link details</a>
</p>